.oe_many2one_vendor_grade_a{
	background-color: Lime;
	padding:4px;
}

.oe_many2one_vendor_grade_b{
	background-color: GreenYellow;
	padding:4px;
}

.oe_many2one_vendor_grade_c{
	background-color: YellowGreen;
	padding:4px;
}

.oe_many2one_vendor_grade_d{
	background-color: Yellow;
	padding:4px;
}

.oe_many2one_vendor_grade_e{
	background-color: Orange;
	padding:4px;
}

.oe_many2one_vendor_grade_f{
	background-color: Red;
	padding:4px;
}

.oe_vendor_grade_list{
	padding: 15px;
	size: 100%;
	font-weight: bold;
}