.oe_one2many_lang_pair_normal{
	background-color: LightGray;
	padding: 2px;
	margin-right: 3px;
}

.oe_one2many_lang_pair_native{
	background-color: LightGray;
	padding: 2px;
	margin-right: 3px;
	border: 2px solid red;
}